<h1>LIsting Tweets</h1>

<table>
    <thead>
        <tr>
            <th>Content</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @tweets.each do |tweet| %>
        <tr>
            <td><%= render_with_hashtags(tweet.content) %></td>
        </tr>
    </tbody>

</table>